<!--<h1>I am newpost.html</h1>

<h3>You May Now Tweet</h3>

        <div class="container">
     

            <div class="row">
                <div class="col-md-12">
                    <span>Enter Post:</span>
                    <input ng-model="post" class="post-text" type="text" />
                    <button class="post-button" ng-click="submitPost()">Submit Post</button>
                </div>
            </div>
            <div class="row posts">
               {{post}}  
            </div>
            <div ng-repeat="post in posts"> {{post.text}}. {{post.date | date:'medium'}} </div>
        </div>-->